{#
/**
 * @file
 * Template for a CiviCRM contact entity.
 */
#}
<div class="contact">
  <div class="row">
    {% if content.image_URL[0] %}
      <div class="col-sm-3">
          <img src="{{ content.image_URL[0]['#context'].value }}" class="contact__image" />
      </div>
    {% endif %}
    <div class="col-sm-{{ content.image_URL[0] ? '9' : '12' }}">
      {% if content.display_name %}
        <span class="contact__name">
        {{ content.display_name }}
      </span>
      {% endif %}

      {% if content.job_title or content.current_employer %}
        <div class="contact__position">
          {{ content.job_title }}
          {{ content.current_employer }}
        </div>
      {% endif %}

      {% if content.bio %}
        <button class="contact__bio__link">
          {{ "See biography"|t }} <i class="fa fa-plus-circle"></i>
        </button>
      {% endif %}
    </div>
  </div>

  {% if content.bio %}
    <div class="contact__bio__content">
      {{ content.bio }}
    </div>
  {% endif %}
</div>
