{#
/**
 * @file
 * Template for event section.
 */
#}
<div class="info-section">
  <h4 class="info-section__title">
    {{ content.field_roundearth_events_title }}
  </h4>

  {% if content.field_roundearth_events_body %}
    <div class="info-section__content">
      {{ content.field_roundearth_events_body }}
    </div>
  {% endif %}
</div>
