// Node
// -----------------------------------------------------------------------------

.node__content {
  table {
    @extend .table;
	@extend .table-bordered;
  }
}


.node {

  .links {
    font-size: .85em;

    a {
      color: $brand-primary;
    }
  }
}
