// Date
// -----------------------------------------------------------------------------
.date-wrapper {
  background-color: $brand-primary;
  width: 5em;
  padding: 1em;
  text-align: center;
  text-transform: uppercase;

  @include breakpoint(md) {
    width: 4em;
    padding: .5em;
    bottom: 11.5em;
  }

  @include breakpoint(lg) {
    bottom: 9em;
  }

  .date {
    color: #fff;
    font-size: 1.25em;
    font-weight: bold;
  }
}
