// Button
// -----------------------------------------------------------------------------
%button {
  border-radius: 5px;
  padding: 0 1em;
  min-width: 100px;
  height: $input-height;
  line-height: $input-height - 2;
  text-shadow: none;
  box-shadow: none;
  font-size: 1em;
}

.btn-group {
  %button {
    min-width: initial;
  }
}

%button--primary {
  background: $brand-primary;
  border-color: $brand-primary;

  &:hover,
  &:focus {
    border-color: lighten($brand-primary, 5);
    background-color: lighten($brand-primary, 5);
  }
}

.btn,
input[type="submit"] {
  @extend %button;

  &-primary {
    @extend %button--primary;
  }
}

.btn-group {
  // Hack to make dropbuttons not wrap in tables.
  display: flex;
}
