{#
/**
 * @file
 * Template for site branding.
 */
#}
{% extends "block.html.twig" %}
{% block content %}
  <div class="branding">
    {% if (site_name or site_logo) %}
      <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
        {% if site_logo %}
          <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
        {% endif %}
        {% if site_name %}
          <span>{{ site_name }}</span>
        {% endif %}
      </a>
    {% endif %}
  </div>
{% endblock %}
