{#
/**
 * @file
 * Template for event program field.
 */
#}
{% if items|length %}
  <table>
    <thead>
    <tr>
      <th class="col-xs-4 col-sm-2">{{ "Time"|t }}</th>
      <th class="col-xs-8 col-sm-10">
        <div class="visible-xs visible-sm col-xs-12">{{ "Programme and Speakers" }}</div>
        <div class="col-md-6 visible-md visible-lg">{{ "Programme"|t }}</div>
        <div class="col-md-6 visible-md visible-lg">{{ "Speakers"|t }}</div>
      </th>
    </tr>
    </thead>
    <tbody>
    {% for item in items %}
      {{ item.content }}
    {% endfor %}
    </tbody>
  </table>
{% endif %}
